.card_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }
  