.bp3-navbar-heading{
    color: #fff;
}
.bp3-button-text{
    color: #fff;
    
}
.bp3-button {
    .bp3-icon{
        color: #fff !important;
    }
}

a{
    color: inherit !important;
    &:hover{
        text-decoration: inherit !important; 
        color: inherit !important
    }
}

  
 
    
// }  