.bp3-navbar-heading{
    color: #fff;
}
.bp3-button-text{
    color: #fff;
    
}
.bp3-button {
    .bp3-icon{
        color: #fff !important;
    }
}
input[type="search"] {
    background: #422042;
    width: 178px;
    border-radius: 5px  !important;
    color: #fff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    &::placeholder{
        color: #cfd0d1;
    }
    &:focus{
        box-shadow: unset !important;
        width: 300px;
        color: #000;
        background: #fafbfc;
    }
    &:focus::placeholder{
        color: #636464;
        // color: #;
    }
    
}
a{
    color: inherit !important;
    &:hover{
        text-decoration: inherit !important; 
        color: inherit !important
    }
}

  
 
    
// }  