.key_word {
    position: absolute;
    background-color: #fff;
    width: 100%;
    box-shadow: 1px 28px 41px -17px rgba(0, 0, 0, 0.75);
}

.list_suggestions {
    list-style: none;
    margin: 0;
    padding: 0;

    .list_item {
        padding: 10px;

        &:hover{
            background: #f0f0f0
        }
    }
}
