@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/core/lib/scss/variables';
@import '@fortawesome/fontawesome-free/css/all.css';
.bp3-violet1 {
    background-color: $violet1;
}
.customize-bar-divider {
    border-left: 1px solid #fff;
}
.text-white {
    color: $white;
}
